{% extends 'rempage.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}

<h1 class="text-center text-secondary">Contact</h1>

<div class="row mb-5">
    <div class="col-5"></div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="title text-center">Telephone</div>
            <div class="card-body">
              <p class="card-text text-center">0485-123456987</p>
            </div>
            <div class="title text-center">Email</div>
            <div class="card-body">
              <p class="card-text text-center">hospital@gmail.com</p>
            </div>
          </div>
    </div>
    <div class="col-4"></div>

</div>

{% endblock body%}